.home {
  min-height: 100vh;
  width: 100%;
  transition: background 1s ease;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(to top, #90f5fc, #76abf6);
}


.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url("../assets/c5.png");
  opacity: 0.40;
  animation: moveClouds 60s linear infinite;
  pointer-events: none;
}

@keyframes moveClouds {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}


/* Tablet */
@media (max-width: 768px) {
  .home-main {
    width: 90%;
    margin-top: 40px;
    padding: 10px;
  }

  .home-main h1{
    font-size: 18px;
  }

  .con{
    font-size: 14px;
    flex-wrap: wrap;
  }

  .sub{
    font-size: 16px;
  }

  .error{
    margin-bottom: 10px;
  }

  .home-nav {
    margin: 10px;
    margin-top: 30px;
  }

  .home-nav h1{
    font-size: 22px;
  }

  .btn{
    font-size: 14px;
    padding: 10px;
  }

  .input{
    flex-direction: column;
    align-items: stretch;
  }

  .input button{
    width: 100%;
    display: block;
  }

  .features {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .main{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 20px;
    margin-top: 30px;
  }

  .title{
    font-size: 18px;
  }

  .container{
    padding: 10px;
  }
  
  .main-con{
    padding: 5px;
  }

  .box-1{
    display: flex;
    flex-wrap: wrap;
  }
}



